{% extends "base.html" %}
{% block content %}

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container-full">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="page-title">جداول اساتید</h3>
							<div class="d-inline-block align-items-center">
								<nav>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html"><i
													class="mdi mdi-home-outline"></i></a></li>

										<li class="breadcrumb-item active" aria-current="page">جداول اساتید</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<!-- Main content -->
				<section class="content">
					<div class="row">

{##}
{##}
{##}
{##}
{#						<div class="col-12">#}
{##}
{#							<div class="box">#}
{#								<div class="box-header with-border">#}
{#									<h3 class="box-title">جدول اطلاعات دانش آموزان</h3>#}
{#								</div>#}
{#								<!-- /.box-header -->#}
{#								<div class="box-body">#}
{#									<div class="table-responsive">#}
{#										<table id="example1" class="table table-bordered table-striped">#}
{#											<thead>#}
{#												<tr>#}
{#													<th>نام</th>#}
{#													<th>نام خانوادگی</th>#}
{#													<th>نام پدر</th>#}
{#													<th>کد ملی</th>#}
{#													<th>تاریخ عضویت</th>#}
{#													<th>پروفایل</th>#}
{##}
{#												</tr>#}
{#											</thead>#}
{#											<tbody>#}
{#												<tr>#}
{#													<td>رضا </td>#}
{#													<td> افشار</td>#}
{#													<td>پدرام</td>#}
{#													<td>45846461</td>#}
{#													<td>1399/04/25</td>#}
{#													<td><a href="" class="btn btn-primary">پروفایل</a></td>#}
{#												</tr>#}
{#											</tbody>#}
{#										</table>#}
{#									</div>#}
{#								</div>#}
{#								<!-- /.box-body -->#}
{#							</div>#}
{#							<!-- /.box -->#}

							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">جدول اساتید</h3>
									<h6 class="box-subtitle">خروجی جدول در حالت های کپی، CSV، اکسل، پی دی اف و پرینت
									</h6>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<div class="table-responsive">
										<table id="example"
											class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
											<thead>
												<tr>
													<th>نام</th>
													<th>نام خانوادگی</th>
													<th>تعداد دروس</th>
													<th>تعداد دانش آموزان</th>
													<th>تاریخ شروع</th>
													<th>پروفایل</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>رضا </td>
													<td>افشار</td>
													<td>2</td>
													<td>61</td>
													<td>1399/04/25</td>
													<td><a class="btn btn-primary">پروفایل</a></td>
												</tr>

										</table>
									</div>
								</div>
{#								<!-- /.box-body -->#}
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->

			</div>
		</div>
		<!-- /.content-wrapper -->
{% endblock %}