{% extends "base.html" %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">ثبت دانش آموز</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">ثبت دانش آموز</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">


                <!-- Validation wizard -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h4 class="box-title">ثبت دانش آموز</h4>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body wizard-content">
                        <form action="#" class="validation-wizard wizard-circle">

                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wfirstName2"> {{ form.first_name.label }} : <span
                                                    class="danger">*</span> </label>
                                            <input type="text" class="form-control required" id="wfirstName2"
                                                   name="firstName"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wlastName2"> {{ form.last_name.label }} : <span
                                                    class="danger">*</span>
                                            </label>
                                            <input type="text" class="form-control required" id="wlastName2"
                                                   name="lastName"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wemailAddress2"> {{ form.national_code.label }}: <span
                                                    class="danger">*</span>
                                            </label>
                                            <input type="email" class="form-control required" id="wemailAddress2"
                                                   name="emailAddress"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wphoneNumber2">{{ form.father_name.label }} : </label>
                                            <input type="tel" class="form-control" id="wphoneNumber2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wlocation2"> {{ form.father_phone_number.label }} : <span
                                                    class="danger">*</span> </label>
                                            <input type="tel" class="form-control" id="wphoneNumber2"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wlocation2"> {{ form.mother_phone_number.label }} : <span
                                                    class="danger">*</span> </label>
                                            <input type="tel" class="form-control" id="wphoneNumber2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wlocation2"> {{ form.second_number.label }} : <span
                                                    class="danger">*</span> </label>
                                            <input type="tel" class="form-control" id="wphoneNumber2"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wlocation2"> پایه: <span
                                                    class="danger">*</span> </label>
                                            <input type="tel" class="form-control" id="wphoneNumber2"></div>
                                    </div>
                                </div>
                                <div>
                                    <a class="btn btn-success" type="submit">ثبت</a>
                                </div>

                            </section>

                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->







    <script>
        $('.datepicker2').persianDatepicker({
            'format': 'YYYY/MM/DD',
            'autoclose': true,
            showOtherMonths: true,
            selectOtherMonths: true
        });
    </script>

{% endblock %}