<style>
.bootstrap-touchspin-up {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}
.bootstrap-touchspin-down {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.bootstrap-touchspin-prefix,.bootstrap-touchspin-postfix {
	border-radius: 0 !important;
}
</style>

  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">عناصر پیشرفته فرم</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">فرم ها</li>
								<li class="breadcrumb-item active" aria-current="page">عناصر پیشرفته فرم</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">

			<div class="col-12">
			  <div class="box">
				  
				<div class="box-header">
					<h4 class="box-title">انواع گزینه های پیش فرض برای تگ input</h4>  
				</div>
				<div class="box-body">
					

					<div class="form-group row">
						<label class="col-form-label col-md-2">تاریخ</label>
						<div class="col-md-10">
							<input class="form-control" type="date" name="date">
							<span class="form-text text-muted">استفاده از <code>input type="date"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">ماه</label>
						<div class="col-md-10">
							<input class="form-control" type="month" name="month">
							<span class="form-text text-muted">استفاده از <code>input type="month"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">زمان</label>
						<div class="col-md-10">
							<input class="form-control" type="time" name="time">
							<span class="form-text text-muted">استفاده از <code>input type="time"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">هفته</label>
						<div class="col-md-10">
							<input class="form-control" type="week" name="week">
							<span class="form-text text-muted">استفاده از <code>input type="week"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">شماره</label>
						<div class="col-md-10">
							<input class="form-control" type="number" name="number">
							<span class="form-text text-muted">استفاده از <code>input type="number"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">ایمیل</label>
						<div class="col-md-10">
							<input class="form-control" type="email" name="email">
							<span class="form-text text-muted">استفاده از <code>input type="email"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">آدرس URL</label>
						<div class="col-md-10">
							<input class="form-control" type="url" name="url">
							<span class="form-text text-muted">استفاده از <code>input type="url"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">جستجو</label>
						<div class="col-md-10">
							<input class="form-control" type="search" name="search">
							<span class="form-text text-muted">استفاده از <code>input type="search"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">تلفن</label>
						<div class="col-md-10">
							<input class="form-control" type="tel" name="tel">
							<span class="form-text text-muted">استفاده از <code>input type="tel"</code></span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-md-2">رنگ</label>
						<div class="col-md-10">
							<input class="form-control" type="color" name="color">
							<span class="form-text text-muted">استفاده از <code>input type="color"</code></span>
						</div>
					</div>				
				</div>
				<!-- /.box-body -->
				  
				<div class="box-header">
					<h4 class="box-title">ورودی فایل پایه</h4>  
				</div>
				<div class="box-body">
					<div class="form-group row">
						<label class="col-form-label col-lg-2">ورودی فایل پیش فرض</label>
						<div class="col-lg-10">
							<input type="file" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-2">ورودی فایل سفارشی</label>
						<div class="col-lg-10">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="customFile">
								<label class="custom-file-label" for="customFile">انتخاب فایل</label>
							</div>
						</div>
					</div>  
				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <h4 class="box-title">ماسک ورودی</h4>
				</div>
				<div class="box-body">
				  <!-- Date dd/mm/yyyy -->
				  <div class="form-group">
					<label>ماسک تاریخ : </label>
					<div class="row">
						<div class="col-6">
							<div class="input-group">
							  <div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							  </div>
							  <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
							</div>
							<!-- /.input group -->
						</div>
						<div class="col-6">
						  <!-- Date mm/dd/yyyy -->
							<div class="input-group">
							  <div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							  </div>
							  <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>
							</div>
							<!-- /.input group -->
						</div>
					</div>
				  </div>
				  <!-- /.form group -->

				  <!-- phone mask -->
				  <div class="form-group">
					<label>ماسک تلفن : </label>

					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-phone"></i>
					  </div>
					  <input type="text" class="form-control" data-inputmask="'mask':[ '(999) 999-9999']" data-mask>
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- phone mask -->
				  <div class="form-group">
					<label>ماسک تلفن 2 : </label>

					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-phone"></i>
					  </div>
					  <input type="text" class="form-control"
							 data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask>
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- IP mask -->
				  <div class="form-group">
					<label>ماسک آی پی : </label>

					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-laptop"></i>
					  </div>
					  <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				</div>
				<!-- /.box-body -->					  
				<div class="box-header with-border">
				  <h4 class="box-title">انتخابگر رنگ و زمان</h4>
				</div>				  
				<div class="box-body">
				  <!-- Color Picker -->
				  <div class="form-group">
					<label>انتخابگر رنگ : </label>
					<input type="text" class="form-control my-colorpicker1">
				  </div>
				  <!-- /.form group -->

				  <!-- Color Picker -->
				  <div class="form-group">
					<label>انتخابگر رنگ با دکمه : </label>

					<div class="input-group my-colorpicker2">
					  <input type="text" class="form-control">

					  <div class="input-group-addon">
						<i class="ion ion-paintbucket"></i>
					  </div>
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- time Picker -->
				  <div class="bootstrap-timepicker">
					<div class="form-group">
					  <label>انتخابگر زمان : </label>

					  <div class="input-group">
						<input type="text" class="form-control timepicker">

						<div class="input-group-addon">
						  <i class="fa fa-clock-o"></i>
						</div>
					  </div>
					  <!-- /.input group -->
					</div>
					<!-- /.form group -->
					<div class="form-group">
					  <div class="input-group">
						<div class="input-group-addon">
						  <i class="fa fa-clock-o"></i>
						</div>
						<input type="text" class="form-control timepicker">
					  </div>
					  <!-- /.input group -->
					</div>
					<!-- /.form group -->
				  </div>
				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <h4 class="box-title">انتخابگر تاریخ میلادی</h4>
				</div>
				<div class="box-body">
				  <!-- Date -->
				  <div class="form-group">
					<label>تاریخ : </label>

					<div class="input-group date">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  <input type="text" class="form-control pull-right" id="datepicker">
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- Date range -->
				  <div class="form-group">
					<label>محدوده تاریخ : </label>

					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  <input type="text" class="form-control pull-right" id="reservation">
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- Date and time range -->
				  <div class="form-group">
					<label>محدوده تاریخ و زمان : </label>

					<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-clock-o"></i>
					  </div>
					  <input type="text" class="form-control pull-right" id="reservationtime">
					</div>
					<!-- /.input group -->
				  </div>
				  <!-- /.form group -->

				  <!-- Date and time range -->
				  <div class="form-group">
					<label>دکمه محدوده تاریخ : </label>

					<div class="input-group">
					  <button type="button" class="btn btn-default pull-right btn-rounded" id="daterange-btn">
						<span>
						  <i class="fa fa-calendar"></i> دکمه محدوده تاریخ
						</span>
						<i class="fa fa-caret-down"></i>
					  </button>
					</div>
				  </div>
				  <!-- /.form group -->

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
					<h4 class="box-title">انتخابگر تاریخ شمسی</h4>
				  </div>
				  <div class="box-body">
					<!-- Date -->
					<div class="form-group">
					  <label>تاریخ : </label>
  
					  <div class="input-group date">
						<div class="input-group-addon">
						  <i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right datepicker">
					  </div>
					  <!-- /.input group -->
					</div>
					<!-- /.form group -->
  
					<!-- Date range -->
					<div class="form-group">
					  <label>انتخاب تاریخ با خروجی تایم استمپ : </label>
  
					  <div class="input-group">
							<div class="d-block m-2 text-primary" style="width: 100%;">انتخاب تاریخ و زمان</div>
						<div class="input-group-addon">
						  <i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" id="tarikh">
					  </div>

					  <div class="input-group">
							<div class="d-block m-2 text-primary" style="width: 100%;">خروجی تایم استمپ</div>
						<div class="input-group-addon">
						  <i class="si-calendar si"></i>
						</div>
						<input type="text" class="form-control pull-right" id="tarikhAlt">
					  </div>
					  <!-- /.input group -->
					</div>
					<!-- /.form group -->
  
					<!-- Date and time range -->
					<label>محدوده تاریخ : </label>
					<div class="form-group col-12 d-flex p-0">
  
					  <div class="input-group col-6">
							<div class="d-block m-2 text-primary" style="width: 100%;">تاریخ شروع</div>
						<div class="input-group-addon">
						  <i class="fa fa-calendar"></i>
						</div>
						<input type="text" placeholder="روز شروع" class="form-control pull-right datepicker">
					  </div>

					  <div class="input-group col-6">
							<div class="d-block m-2 text-primary" style="width: 100%;">تاریخ پایان</div>
							<div class="input-group-addon">
							  <i class="fa fa-calendar"></i>
							</div>
							<input type="text" placeholder="روز پایان" class="form-control pull-right datepicker">
						  </div>
					  <!-- /.input group -->
					</div>
					<!-- /.form group -->
  
				  </div>
				  <!-- /.box-body -->
				<div class="box-header with-border">
				  <h4 class="box-title">عناصر انتخاب</h4>
					<ul class="box-controls pull-right">
					  <li><a class="box-btn-close" href="#"></a></li>
					  <li><a class="box-btn-slide" href="#"></a></li>	
					</ul>
				</div>
				<div class="box-body pb-0">
				  <div class="row">
					<div class="col-md-3 col-12">
					  <div class="form-group">
						<label>مینیمال</label>
						<select class="form-control select2" style="width: 100%;">
						  <option selected="selected">ایران</option>
						  <option>ترکیه</option>
						  <option>چین</option>
						  <option>قطر</option>
						  <option>کانادا</option>
						  <option>استرالیا</option>
						  <option>آلمان</option>
						</select>
					  </div>
					  <!-- /.form-group -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-12">
					  <div class="form-group">
						<label>غیرفعال</label>
						<select class="form-control select2" disabled="disabled" style="width: 100%;">
						  <option selected="selected">ایران</option>
						  <option>ترکیه</option>
						  <option>چین</option>
						  <option>قطر</option>
						  <option>کانادا</option>
						  <option>استرالیا</option>
						  <option>آلمان</option>
						</select>
					  </div>
					  <!-- /.form-group -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-12">
					  <div class="form-group">
						<label>چندتایی</label>
						<select class="form-control select2" multiple="multiple" data-placeholder="انتخاب کنید"
								style="width: 100%;">
						  <option>ایران</option>
						  <option>ترکیه</option>
						  <option>چین</option>
						  <option>قطر</option>
						  <option>کانادا</option>
						  <option>استرالیا</option>
						  <option>آلمان</option>
						</select>
					  </div>
					  <!-- /.form-group -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-12">
					  <div class="form-group">
						<label>نتیجه غیرفعال</label>
						<select class="form-control select2" style="width: 100%;">
						  <option selected="selected">ایران</option>
						  <option>ترکیه</option>
						  <option disabled="disabled">چین (غیرفعال)</option>
						  <option>قطر</option>
						  <option>کانادا</option>
						  <option>استرالیا</option>
						  <option>آلمان</option>
						</select>
					  </div>
					  <!-- /.form-group -->
					</div>
					<!-- /.col -->
				  </div>
				  <!-- /.row -->
				</div>
				<!-- /.box-body -->
				  <div class="box-header with-border">
					<h4 class="box-title">باکس های انتخاب بوت استرپ</h4>
				  </div>
				  <div class="box-body">
					  <div class="row">
						<div class="col-md-4">
							<h5 class="my-10">باکس انتخاب</h5>
							<select class="selectpicker">
								<option>ایران</option>
								<option>ترکیه</option>
								<option>کانادا</option>
							</select>
						</div>
						<div class="col-md-4">
							<h5 class="my-10">باکس انتخاب با گزینه های گروهی</h5>
							<select class="selectpicker">
								<optgroup label="">
									<option>ایران</option>
									<option>ترکیه</option>
									<option>کانادا</option>
								</optgroup>
								<optgroup label="">
									<option>ایران</option>
									<option>ترکیه</option>
									<option>کانادا</option>
								</optgroup>
							</select>
						</div>
						<div class="col-md-4">
							<h5 class="my-10">باکس انتخاب چندتایی</h5>
							<select class="selectpicker" multiple>
								<option>ایران</option>
								<option>ترکیه</option>
								<option>کانادا</option>
							</select>
						</div>
					</div>
					<h5 class="my-10">با کلاس دکمه های رنگی</h5>
						<div class="row">
							<div class="col-sm-4">
								<select class="selectpicker mb-20 mr-10" data-style="btn-primary">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="selectpicker mb-20 mr-10" data-style="btn-info btn-outline-info">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="selectpicker mb-20 mr-10" data-style="btn-warning ">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="selectpicker mb-20 mr-10" data-style="btn-danger">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="selectpicker mb-20 mr-10" data-style="btn-success">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="selectpicker mb-20" data-style="btn-default">
									<option data-tokens="Lorem">ایران</option>
									<option data-tokens="ipsum">ترکیه</option>
									<option data-tokens="dolor">کانادا</option>
								</select>
							</div>
						</div>
				  </div>
				<!-- /.box-body -->
				  <div class="box-header with-border">
					<h4 class="box-title">دکمه های کم و زیاد</h4>
				  </div>
				  <div class="box-body">
					  <div class="row">
						<div class="col-lg-6">
							<form class="pr-20">
								<div class="form-group">
									<label class="control-label">دکمه های عمودی</label>
									<input class="vertical-spin" type="text" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" value="" name="vertical-spin"> </div>
								<div class="form-group">
									<label class="control-label">پسوند</label>
									<input id="demo1" type="text" value="55" name="demo1" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary"> </div>
								<div class="form-group mb-0">
									<label class="control-label">پیشوند</label>
									<input id="demo2" type="text" value="0" name="demo2" class=" form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary"> </div>

							</form>
						</div>
						<div class="col-lg-6">
							<form>
								<div class="form-group">
									<label class="control-label">دکمه های افقی</label>
									<input id="demo3" type="text" value="" name="demo3" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary"> </div>
								<div class="form-group">
									<label class="control-label">مقدار پیش فرض 30 </label>
									<input id="demo3_1" type="text" value="30" name="demo3_1" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary"> </div>
								<div class="form-group mb-0">
									<label class="control-label">دکمه گروهی</label>
									<div class="input-group">
										<input id="demo4" type="text" class="form-control" name="demo4" value="50" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary">
									</div>
								</div>
							</form>
						</div>
					</div>					
				  </div>
				<!-- /.box-body -->				  
				<div class="box-header with-border">
				  <h4 class="box-title">ورودی برچسب</h4>
				</div>
				<div class="box-body">
					<h6 class="box-subtitle d-block mb-10">افزودن <code>data-role="tagsinput"</code> به تگ input </h6>
					<div class="tags-default">
						<input type="text" value="ایران,ترکیه,کانادا" data-role="tagsinput" placeholder="افزودن برچسب" /> </div>
					
					<div class="input-group mt-4">
						<input type="text" value="ایران,ترکیه,کانادا" data-role="tagsinput" placeholder="افزودن برچسب"> <span class="input-group-addon">برچسب</span>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <h4 class="box-title">ورودی های چک باکس و رادیو - کتابخانه iCheck</h4>
				</div>
				<div class="box-body">
				  <!-- Minimal style -->
					<div class="row">
						<div class="col-12">

						  <!-- checkbox -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="checkbox" class="minimal" checked>
							</label>
							<label>
							  <input type="checkbox" class="minimal">
							</label>
							<label>
							  <input type="checkbox" class="minimal" disabled>
							  پوسته مینیمال چک باکس
							</label>
						  </div>

						  <!-- Minimal red style -->

						  <!-- checkbox -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="checkbox" class="minimal-red" checked>
							</label>
							<label>
							  <input type="checkbox" class="minimal-red">
							</label>
							<label>
							  <input type="checkbox" class="minimal-red" disabled>
							  پوسته مینیمال قرمز چک باکس
							</label>
						  </div>

						  <!-- Minimal red style -->

						  <!-- checkbox -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="checkbox" class="flat-red" checked>
							</label>
							<label>
							  <input type="checkbox" class="flat-red">
							</label>
							<label>
							  <input type="checkbox" class="flat-red" disabled>
							  پوسته فلت سبز چک باکس
							</label>
						  </div>	

						  <!-- radio -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="radio" name="r1" class="minimal" checked>
							</label>
							<label>
							  <input type="radio" name="r1" class="minimal">
							</label>
							<label>
							  <input type="radio" name="r1" class="minimal" disabled>
							  پوسته مینیمال رادیو
							</label>
						  </div>

						  <!-- radio -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="radio" name="r2" class="minimal-red" checked>
							</label>
							<label>
							  <input type="radio" name="r2" class="minimal-red">
							</label>
							<label>
							  <input type="radio" name="r2" class="minimal-red" disabled>
							  پوسته مینیمال قرمز رادیو
							</label>
						  </div>

						  <!-- radio -->
						  <div class="form-group ichack-input">
							<label>
							  <input type="radio" name="r3" class="flat-red" checked>
							</label>
							<label>
							  <input type="radio" name="r3" class="flat-red">
							</label>
							<label>
							  <input type="radio" name="r3" class="flat-red" disabled>
							  پوسته فلت سبز رادیو
							</label>
						  </div>

						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-square-o text-black"></i>

				  <h4 class="box-title">چک باکس پایه</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-checkbox">
						<input type="checkbox" id="basic_checkbox_1" checked />
						<label for="basic_checkbox_1">پیش فرض</label>
						<input type="checkbox" id="basic_checkbox_2" class="filled-in" checked />
						<label for="basic_checkbox_2">تو پُر</label>
						<input type="checkbox" id="basic_checkbox_3" checked disabled />
						<label for="basic_checkbox_3">پیش فرض - غیرفعال</label>
						<input type="checkbox" id="basic_checkbox_4" class="filled-in" checked disabled />
						<label for="basic_checkbox_4">تو پُر - غیرفعال</label>
					</div>

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-square-o text-black"></i>

				  <h4 class="box-title">چک باکس پایه رنگی</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-checkbox">
						<input type="checkbox" id="md_checkbox_1" class="chk-col-primary" checked />
						<label for="md_checkbox_1">اولیه</label>
						<input type="checkbox" id="md_checkbox_3" class="chk-col-success" checked />
						<label for="md_checkbox_3">ثانویه</label>
						<input type="checkbox" id="md_checkbox_4" class="chk-col-info" checked />
						<label for="md_checkbox_4">اطلاع</label>
						<input type="checkbox" id="md_checkbox_6" class="chk-col-warning" checked />
						<label for="md_checkbox_6">هشدار</label>
						<input type="checkbox" id="md_checkbox_7" class="chk-col-danger" checked />
						<label for="md_checkbox_7">خطر</label>					
					</div>

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-square-o text-black"></i>

				  <h4 class="box-title">چک باکس رنگی پایه تو پُر</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-checkbox">
						<input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-primary" checked />
						<label for="md_checkbox_21">اولیه</label>					
						<input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-success" checked />
						<label for="md_checkbox_23">ثانویه</label>
						<input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-info" checked />
						<label for="md_checkbox_24">اطلاع</label>	
						<input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-warning" checked />
						<label for="md_checkbox_27">هشدار</label>					
						<input type="checkbox" id="md_checkbox_29" class="filled-in chk-col-danger" checked />
						<label for="md_checkbox_29">خطر</label>						
					</div>

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-circle text-black"></i>

				  <h4 class="box-title">دکمه رادیویی پایه</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-radio-button">
						<input name="group1" type="radio" id="radio_1" checked />
						<label for="radio_1">رادیو - 1</label>
						<input name="group1" type="radio" id="radio_2" />
						<label for="radio_2">رادیو - 2</label>
						<input name="group1" type="radio" class="with-gap" id="radio_3" />
						<label for="radio_3">رادیو - با شکاف</label>
						<input name="group1" type="radio" id="radio_4" class="with-gap" />
						<label for="radio_4">رادیو - با شکاف</label>
						<input name="group2" type="radio" id="radio_5" checked disabled />
						<label for="radio_5">رادیو - غیر فعال</label>
						<input name="group3" type="radio" id="radio_6" class="with-gap" checked disabled />
						<label for="radio_6">رادیو - غیر فعال</label>
					</div>

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-circle text-black"></i>

				  <h4 class="box-title">دکمه رادیویی پایه رنگی</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-radio-button">
						<input name="group4" type="radio" id="radio_7" class="radio-col-primary" checked />
						<label for="radio_7">اولیه</label>
						<input name="group4" type="radio" id="radio_9" class="radio-col-success" />
						<label for="radio_9">ثانویه</label>
						<input name="group4" type="radio" id="radio_10" class="radio-col-info" />
						<label for="radio_10">اطلاع</label>
						<input name="group4" type="radio" id="radio_12" class="radio-col-warning" />
						<label for="radio_12">هشدار</label>
						<input name="group4" type="radio" id="radio_13" class="radio-col-danger" />
						<label for="radio_13">خطر</label>
					</div>

				</div>
				<!-- /.box-body -->
				<div class="box-header with-border">
				  <i class="fa fa-check-circle-o text-black"></i>

				  <h4 class="box-title">دکمه رادیویی پایه رنگی با شکاف</h4>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div class="demo-radio-button">
						<input name="group5" type="radio" id="radio_30" class="with-gap radio-col-primary" checked />
						<label for="radio_30">اولیه</label>					
						<input name="group5" type="radio" id="radio_32" class="with-gap radio-col-success" />
						<label for="radio_32">ثانویه</label>
						<input name="group5" type="radio" id="radio_33" class="with-gap radio-col-info" />
						<label for="radio_33">اطلاع</label>
						<input name="group5" type="radio" id="radio_35" class="with-gap radio-col-warning" />
						<label for="radio_35">هشدار</label>
						<input name="group5" type="radio" id="radio_36" class="with-gap radio-col-danger" />
						<label for="radio_36">خطر</label>
					</div>

				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
			<!-- ./col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->




	

	

	<script>
		$('.datepicker').persianDatepicker({
			'format': 'YYYY/MM/DD',
			'autoclose': true,
			showOtherMonths: true,
			selectOtherMonths: true
		});
		$("#tarikh").persianDatepicker({
			altField: "#tarikhAlt",
			altFormat: "X",
			format: "D MMMM YYYY HH:mm a",
			observer: true,
			timePicker: {
				enabled: true
			}
		});
	</script>

