{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper">
	<div class="container-full">

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-primary-light rounded w-60 h-60">
								<i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">دانش آموزان</p>
								<h3 class="text-dark mb-0 font-weight-500">150<small class="text-success"><i
											class="fa"></i></small></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-warning-light rounded w-60 h-60">
								<i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">اساتید</p>
								<h3 class="text-dark mb-0 font-weight-500">34 <small class="text-success"><i
											class=""></i></small></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-info-light rounded w-60 h-60">
								<i class="text-info mr-0 font-size-24 mdi mdi-sale"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">ادمین</p>
								<h3 class="text-dark mb-0 font-weight-500">2<small
										class="text-danger"><i class=""></i></small></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-danger-light rounded w-60 h-60">
								<i class="text-danger mr-0 font-size-24 mdi mdi-phone-incoming"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">دروس</p>
								<h3 class="text-dark mb-0 font-weight-500">14 <small class="text-danger"><i
											class="fa"></i></small></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-success-light rounded w-60 h-60">
								<i class="text-success mr-0 font-size-24 mdi mdi-phone-outgoing"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">ثبت امروز</p>
								<h3 class="text-dark mb-0 font-weight-500">12 <small class="text-success"><i
											class=""></i></small></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-6">
					<div class="box overflow-hidden pull-up hov-rs">
						<div class="box-body">
							<div class="icon bg-light rounded w-60 h-60">
								<i class="text-dark mr-0 font-size-24 mdi mdi-chart-line"></i>
							</div>
							<div>
								<p class="text-mute mt-20 mb-0 font-size-16">ثبت ماه</p>
								<h3 class="text-dark mb-0 font-weight-500">40<small
										class="text-success"><i class=""></i></small></h3>
							</div>
						</div>
					</div>
				</div>



				<div class="col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title align-items-start flex-column">
								آخرین دانش آموزان ثبت شده
							
							</h4>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-border">
									<thead>
										<tr class="text-uppercase bg-lightest">
											<th style="min-width: 250px"><span class="text-dark">نام</span>
											</th>
											<th style="min-width: 100px"><span class="text-fade">نام خانوادگی</span>
											</th>
											<th style="min-width: 100px"><span class="text-fade">نام پدر</span>
											</th>
											<th style="min-width: 150px"><span class="text-fade">شماره تماس</span>
											</th>
											<th style="min-width: 130px"><span class="text-fade">پروفایل</span>
											</th>
											{% comment %} <th style="min-width: 120px"></th> {% endcomment %}
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="pl-0 py-8">
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0 mr-20">
														<div class="bg-img h-50 w-50"
															style="background-image: url(../images/gallery/creative/img-1.jpg)">
														</div>
													</div>

													<div>
														<a href="#"
															class="text-dark font-weight-600 hover-primary mb-1 font-size-16">محمد رضا
														</a>
													</div>
												</div>
											</td>
											<td>
									
												<span class="text-dark font-weight-600 d-block font-size-16">
													رمضانی
												</span>
											</td>
											<td>
										
												<span class="text-dark font-weight-600 d-block font-size-16">
												مرتضی
												</span>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
												
													09108462478
												</span>
											</td>
											<td>
												<span class="badge badge-primary-light badge-lg">	نمایش پروفایل</span>
											</td>
								
										</tr>
										<tr>
											<td class="pl-0 py-8">
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0 mr-20">
														<div class="bg-img h-50 w-50"
															style="background-image: url(../images/gallery/creative/img-1.jpg)">
														</div>
													</div>

													<div>
														<a href="#"
															class="text-dark font-weight-600 hover-primary mb-1 font-size-16">محمد رضا
														</a>
													</div>
												</div>
											</td>
											<td>
									
												<span class="text-dark font-weight-600 d-block font-size-16">
													رمضانی
												</span>
											</td>
											<td>
										
												<span class="text-dark font-weight-600 d-block font-size-16">
												مرتضی
												</span>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
												
													09108462478
												</span>
											</td>
											<td>
												<span class="badge badge-primary-light badge-lg">	نمایش پروفایل</span>
											</td>
								
										</tr>
										<tr>
											<td class="pl-0 py-8">
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0 mr-20">
														<div class="bg-img h-50 w-50"
															style="background-image: url(../images/gallery/creative/img-1.jpg)">
														</div>
													</div>

													<div>
														<a href="#"
															class="text-dark font-weight-600 hover-primary mb-1 font-size-16">محمد رضا
														</a>
													</div>
												</div>
											</td>
											<td>
									
												<span class="text-dark font-weight-600 d-block font-size-16">
													رمضانی
												</span>
											</td>
											<td>
										
												<span class="text-dark font-weight-600 d-block font-size-16">
												مرتضی
												</span>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
												
													09108462478
												</span>
											</td>
											<td>
												<span class="badge badge-primary-light badge-lg">	نمایش پروفایل</span>
											</td>
								
										</tr>
										<tr>
											<td class="pl-0 py-8">
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0 mr-20">
														<div class="bg-img h-50 w-50"
															style="background-image: url(../images/gallery/creative/img-1.jpg)">
														</div>
													</div>

													<div>
														<a href="#"
															class="text-dark font-weight-600 hover-primary mb-1 font-size-16">محمد رضا
														</a>
													</div>
												</div>
											</td>
											<td>
									
												<span class="text-dark font-weight-600 d-block font-size-16">
													رمضانی
												</span>
											</td>
											<td>
										
												<span class="text-dark font-weight-600 d-block font-size-16">
												مرتضی
												</span>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
												
													09108462478
												</span>
											</td>
											<td>
												<span class="badge badge-primary-light badge-lg">	نمایش پروفایل</span>
											</td>
								
										</tr>
						
						
						
								
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">

	&copy; 2020 تمامی حقوق محفوظ است
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar">

	<div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i
				class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>
	<!-- Create the tabs -->
	<ul class="nav nav-tabs control-sidebar-tabs">
		<li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab" class="active">چت</a></li>
		<li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab">لیست انجام</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Home tab content -->
		<div class="tab-pane active" id="control-sidebar-home-tab">
			<div class="flexbox">
				<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>
				<p>کاربران</p>
				<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
			</div>
			<div class="lookup lookup-sm lookup-right d-none d-lg-block">
				<input type="text" name="s" placeholder="جستجو" class="w-p100">
			</div>
			<div class="media-list media-list-hover mt-20">
				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-success" href="#">
						<img src="../images/avatar/1.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>نسترن</strong></a>
						</p>
						<p>لورم ایپسوم متن ...</p>
						<span>همین حالا</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-danger" href="#">
						<img src="../images/avatar/2.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پریسا</strong></a>
						</p>
						<p>تولید سادگی نامفهوم ...</p>
						<span>33 دقیقه پیش</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-warning" href="#">
						<img src="../images/avatar/3.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پدرام</strong></a>
						</p>
						<p>متن ساختگی با تولید ...</p>
						<span>42 دقیقه پیش</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-primary" href="#">
						<img src="../images/avatar/4.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پدرام</strong></a>
						</p>
						<p>متن ساختگی با تولید ...</p>
						<span>42 دقیقه پیش</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-success" href="#">
						<img src="../images/avatar/1.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>نسترن</strong></a>
						</p>
						<p>لورم ایپسوم متن ...</p>
						<span>همین حالا</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-danger" href="#">
						<img src="../images/avatar/2.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پریسا</strong></a>
						</p>
						<p>تولید سادگی نامفهوم ...</p>
						<span>33 دقیقه پیش</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-warning" href="#">
						<img src="../images/avatar/3.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پدرام</strong></a>
						</p>
						<p>متن ساختگی با تولید ...</p>
						<span>42 دقیقه پیش</span>
					</div>
				</div>

				<div class="media py-10 px-0">
					<a class="avatar avatar-lg status-primary" href="#">
						<img src="../images/avatar/4.jpg" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a class="hover-primary" href="#"><strong>پدرام</strong></a>
						</p>
						<p>متن ساختگی با تولید ...</p>
						<span>42 دقیقه پیش</span>
					</div>
				</div>

			</div>

		</div>
		<!-- /.tab-pane -->
		<!-- Settings tab content -->
		<div class="tab-pane" id="control-sidebar-settings-tab">
			<div class="flexbox">
				<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>
				<p>لیست انجام</p>
				<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
			</div>
			<ul class="todo-list mt-20">
				<li class="py-15 px-5 by-1">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_1" class="filled-in">
					<label for="basic_checkbox_1" class="mb-0 h-15"></label>
					<!-- todo text -->
					<span class="text-line">لورم ایپسوم</span>
					<!-- Emphasis label -->
					<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 دقیقه</small>
					<!-- General tools such as edit or delete-->
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_2" class="filled-in">
					<label for="basic_checkbox_2" class="mb-0 h-15"></label>
					<span class="text-line">با تولید سادگی</span>
					<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 ساعت</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5 by-1">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_3" class="filled-in">
					<label for="basic_checkbox_3" class="mb-0 h-15"></label>
					<span class="text-line">متن ساختگی</span>
					<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 روز</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_4" class="filled-in">
					<label for="basic_checkbox_4" class="mb-0 h-15"></label>
					<span class="text-line">متن صنعت چاپ</span>
					<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 روز</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5 by-1">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_5" class="filled-in">
					<label for="basic_checkbox_5" class="mb-0 h-15"></label>
					<span class="text-line">لورم ایپسوم ساختگی</span>
					<small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 هفته</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_6" class="filled-in">
					<label for="basic_checkbox_6" class="mb-0 h-15"></label>
					<span class="text-line">تولید نامفهوم متن</span>
					<small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 ماه</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5 by-1">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_7" class="filled-in">
					<label for="basic_checkbox_7" class="mb-0 h-15"></label>
					<!-- todo text -->
					<span class="text-line">لورم ایپسوم</span>
					<!-- Emphasis label -->
					<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 دقیقه</small>
					<!-- General tools such as edit or delete-->
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_8" class="filled-in">
					<label for="basic_checkbox_8" class="mb-0 h-15"></label>
					<span class="text-line">با تولید سادگی</span>
					<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 ساعت</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5 by-1">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_9" class="filled-in">
					<label for="basic_checkbox_9" class="mb-0 h-15"></label>
					<span class="text-line">متن ساختگی</span>
					<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 روز</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
				<li class="py-15 px-5">
					<!-- checkbox -->
					<input type="checkbox" id="basic_checkbox_10" class="filled-in">
					<label for="basic_checkbox_10" class="mb-0 h-15"></label>
					<span class="text-line">متن صنعت چاپ</span>
					<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 روز</small>
					<div class="tools">
						<i class="fa fa-edit"></i>
						<i class="fa fa-trash-o"></i>
					</div>
				</li>
			</ul>
		</div>
		<!-- /.tab-pane -->
	</div>
</aside>
<!-- /.control-sidebar -->

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->


	
{% endblock %}