<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar" style="overflow: scroll !important;">

        <div class="user-profile">
            <div class="ulogo">
                <a href="index.html">
                    <!-- logo for regular state and mobile devices -->
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../images/logo-dark.png" alt="">
                        <h3><b>KOOP</b> DEPOT</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="#">
                    <i data-feather="pie-chart"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="mail"></i> <span>دانش آموزان</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="ti-more"></i>لیست دانش آموزان</a></li>
                    <li><a href="#"><i class="ti-more"></i>افزودن دانش آموز</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i data-feather="server"></i>
                    <span>اسلاتید</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="ti-more"></i>لیست اساتید</a></li>
                    <li><a href="#"><i class="ti-more"></i>افزودن استاد</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i data-feather="mail"></i> <span>کاربران ادمین</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="ti-more"></i>لیست کاربران ادمین</a></li>
                    <li><a href="#"><i class="ti-more"></i>افزودن ادمین</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="edit-2"></i>
                    <span>دروس</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="ti-more"></i>لیست دروس</a></li>
                    <li><a href="#"><i class="ti-more"></i>افزودن درس</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i data-feather="lock"></i>
                    <span>تغییر رمز</span>
                </a>
            </li>   

            <li>
                <a href="#">
                    <i data-feather="lock"></i>
                    <span>خروج</span>
                </a>
            </li>

        </ul>
    </section>

    <div class="sidebar-footer">
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="تنظیمات"
           aria-describedby="tooltip92529"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="mailbox_inbox.html" class="link" data-toggle="tooltip" title="" data-original-title="ایمیل"><i
                class="ti-email"></i></a>
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="خروج"><i
                class="ti-lock"></i></a>
    </div>
</aside>